/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/

/***************************************
  movies section styling starts here
***************************************/
.movies-section {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

.movies-container {
  padding: 40px 0;
}

.heading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.search-form {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search,
.search-btn {
  padding: 10px 1.5%;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.search-btn {
  background-color: #fdb900;
  text-transform: capitalize;
}

.movies-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.movies-list > li {
  margin: 10px 1%;
  border: 1px solid #bebebe;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  transition: transform .4s ease;
}

.movie-title {
  padding: 10px 2%;
  background-color: #333;
  text-transform: capitalize;
}

.not-found {
  font-size: 20px;
  font-weight: 600;
}
/***************************************
  movies section styling ends here
***************************************/

/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px hover starts here*/
@media only screen and (min-width: 995px) {
  .search-btn:hover {
    color: #fdb900;
    background-color: #333;
  }

  .movies-list > li:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/*media query for 768px hover starts here*/
@media only screen and (max-width: 768px) {
  .movies-list > li {
    flex: 0 0 30%;
  }
}

/*media query for 560px hover starts here*/
@media only screen and (max-width: 560px) {
  .movies-list > li {
    flex: 0 0 40%;
  }
}

/*media query for 480px hover starts here*/
@media only screen and (max-width: 480px) {
  .movies-list > li {
    flex: 0 0 60%;
  }
}

/*media query for 375px hover starts here*/
@media only screen and (max-width: 375px) {
  .movies-list > li {
    flex: 0 0 70%;
  }

  .search,
  .search-btn {
    padding: 10px 1%;
    font-size: 16px;
  }
}
